/********** 공통 **********/

.wrapper {max-width: 780px; margin: auto;}


/********** .top-wrapper **********/
.top-wrapper {background-color: #111; color: #f9f9f9; }
.top-wrapper .top-wrap {margin: auto; width: 90%; display: flex; justify-content: space-between; align-items: center;}
.top-wrapper .top-wrap .top {display: flex;}
.top-wrapper > i {}
.top-wrapper > p {}
.top-wrapper .lang-wrapper {flex: 20% 0 0; text-align: right;}
.top-wrapper .lang-wrap {}

/********** .navi-wrapper **********/
.navi-wrapper {display: flex; justify-content: space-between; align-items: center; padding: 2em 0;}
.navi-wrapper .navi-wrap{flex: 30% 0 0; display: flex;}
.navi-wrapper .navi-logo{flex: 40% 0 0; text-align: center;}
.navi-wrapper .navi-logo img {width: 14%;}
.navi-wrapper .navi-kind{flex: 30% 0 0; display: flex; justify-content: flex-end;}


.navi-wrapper .fa-bars {}
.navi-wrapper .navi-main {}

/********** .band-wrapper **********/



/********** .tour-wrapper **********/



/********** .contact-wrapper **********/



/********** .map-wrapper **********/



/********** .footer-wrapper **********/







/********** 반응형 **********/
@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {

}